services:
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: dailyposts
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
